ion-button.ion-color.ion-color-primary.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    margin: 12px 4px;
    width: 92px;
}
.refresh.md.hydrated {
    font-size: 36px;
    color: #555;
    padding: 0 15px;
}