<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{nomePlayList}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let video of videos">
    <ion-card-header (click)="playVideo(video)">
      <b>{{video.titulo}}</b>
    </ion-card-header>
    <ion-card-content (click)="playVideo(video)">
      <img [src]="video.thumbnail"><br/>
      {{video.descricao}}
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button class="outl" (click)="compartilhar(video)">
          <div class="setColor"><ion-icon class="icon-s" color="primary" name="share"></ion-icon>
          COMPARTILHAR
        </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>