.setColor{
    color: #3880ff;
  }
  .outl{
    outline: none;
    background: none;
  }
  .icon-s{
    font-size: 17px;
      vertical-align: bottom;
  }
  img {
    width: 100%;
  }
  ion-icon.md.hydrated {
    padding-left: 10px;
    font-size: 27px;
}