<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Your Learn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar placeholder="Digite a aula desejada" [shwoCancelButton]="true" #tag (keyup.enter)="buscarVideo(tag.value)"></ion-searchbar>

  <ion-card *ngFor="let video of videos">
    <ion-card-header>
      <b>{{video.titulo}}</b>
    </ion-card-header>
    <ion-card-content (click)="playVideo(video)"> 
      <img [src]="video.thumbnail"><br/>
      {{video.descricao}}
    </ion-card-content>
    <ion-row>
      <ion-col *ngIf="video.idPlayList">
        <button class="outl" (click)="showPlayList(video)">
          <div class="setColor"><ion-icon class="icon-s" color="primary" name="albums"></ion-icon>
          VER PLAYLIST
        </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="outl" (click)="compartilhar(video)">
          <div class="setColor"><ion-icon class="icon-s" color="primary" name="share"></ion-icon>
          COMPARTILHAR
        </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showNovoVideo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
